@import "tailwindcss";

@font-face {
    font-family: "Helvetica Rounded";
    src: url("/fonts/helvetica-rounded-bold.otf") format("opentype");
}

@theme {
    --font-sans: "Open Sans Variable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-display: "Helvetica Rounded", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --color-blue: #15427C;
    --color-blue-2: rgba(21, 66, 124, 0.22);
    --color-blue-3: rgba(21, 66, 124, 0.51);
    --color-green: #009540;
    --color-green-2: rgba(0, 149, 64, 0.70);
    --color-gray: #DEDEDE;
    --color-hero: #00DC5F;
}

@layer base {
    h1 {
        @apply text-3xl;
    }
}