---
import Layout from "../../layouts/Layout.astro";

import PageTitle from "../../components/PageTitle.astro";
import H3 from "../../components/Typography/H3.astro";
import P from "../../components/Typography/P.astro";
import LI from "../../components/Typography/LI.astro";
import Services from "../../components/Sections/Services.astro";
import Button from "../../components/Button.astro";
import Icon from "../../components/Typography/Icon.astro";
---

<Layout>
    <PageTitle
        breadcrumbs={[{ text: "Home", url: "/" }, { text: "Servizi", url: "/servizi" }, { text: "Visite Ambulatoriali", url: "/servizi/visite-ambulatoriali" }]}
        title="Cosa sono le visite ambulatoriali?"
    >
La visite ambulatoriali sono un <strong>controllo medico</strong> importante per valutare <strong>il tuo stato di salute generale</strong>, individuare eventuali <strong>disturbi</strong> e creare un piano di <strong>trattamento</strong> su misura per te.
    </PageTitle>
    <section class="flex flex-col px-4 pt-8 xl:px-36 lg:px-18 md:px-9 md:pt-12">
        <H3 class="mb-5"><span class="text-green">Cosa aspettarsi</span> durante le visite ambulatoriali?</H3>
        <P>Durante la visite, dopo la raccolta dell’<strong>anamnesi</strong>, viene effettuata una valutazione generale dei vari apparati (cuore, polmoni, addome etc.) talvolta mirata in base ai <strong>disturbi riferiti dal paziente</strong>, al termine della quale il medico può formulare un’ipotesi diagnostica richiedendo eventuali <strong>indagini</strong> di conferma. </P>
    </section>
    <section class="flex flex-col px-4 pt-8 md:pt-12 xl:px-36 lg:px-18 md:px-9">
        <H3 class="mb-5"><span class="text-green">Quando</span> è importante effettuarle?</H3>
        <P>La visite ambulatoriali sono consigliate:</P>
        <ul class="list-disc marker:font-bold list-inside">
            <LI
                ><strong>In caso di sintomi acuti</strong>  e/o <strong>persistenti invalidanti</strong> per il paziente;</LI
            >
            <LI
                >Per monitorare <strong>patologie croniche</strong> (diabete mellito, BPCO);</LI
            >
            <LI
                >Quando è necessario ottenere un <strong>certificato medico</strong>.</LI
            >
        </ul>
    </section>
    <!-- <section class="flex flex-col px-4 pt-8 md:pt-12 xl:px-36 lg:px-18 md:px-9">
        <div
            class="flex flex-col p-3 md:p-5 rounded-lg gap-3 md:gap-5 bg-blue-2"
        >
            <H3>
                Perché scegliere <span class="text-green"
                    >Studio Medico Dusio</span
                > per una visita ambulatoriale?
            </H3>
            <P>
                Presso lo Studio Medico Dusio, garantiamo <strong
                    >un’assistenza personalizzata, attenta e professionale</strong
                >. Il nostro obiettivo è mettere al centro <strong
                    >la tua salute</strong
                >, offrendo un servizio medico di alta qualità in un ambiente
                accogliente.
            </P>
            <Button href="#" primary>
                PRENOTA ORA
                <i class="fas fa-chevron-right font-bold"></i>
            </Button>
        </div>
    </section> -->
    <Services />
</Layout>
