@import "tailwindcss";

@theme {
    --font-sans: "Open Sans Variable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --color-blue: #15427C;
    --color-green: #009540;
}