@import "tailwindcss";

@theme {
    --font-sans: "Open Sans Variable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --color-blue: #15427C;
    --color-blue-2: rgba(21, 66, 124, 0.22);
    --color-blue-3: rgba(21, 66, 124, 0.51);
    --color-green: #009540;
    --color-gray: #DEDEDE;
    --color-hero: #00DC5F;
}