---
const { icon = "fa-stethoscope" } = Astro.props;
---

<div class="flex gap-4 items-center">
    <i class:list={["fas text-blue font-bold text-2xl", icon]}></i>
    <h4 class="text-blue font-bold text-2xl">
        <slot />
    </h4>
</div>
