---
import H4 from "../Typography/H4.astro";
import H3 from "../Typography/H3.astro";
import P from "../Typography/P.astro";

const { class: className, ...rest } = Astro.props;
---

<section
    class:list={["flex flex-col gap-4 py-12 px-36 items-center", className]}
    {...rest}
>
    <H4>Sezione Servizi homepage</H4>
    <H3>
        Prenota il tuo <span class="text-green">appuntamento online</span>
    </H3>
    <div class="flex gap-7">
        <button
            id="userNotRegisteredButton"
            class="text-white bg-green px-5 py-2 rounded-2xl cursor-pointer"
            type="button">Non sono registrato/a</button
        >
        <button
            id="userRegisteredButton"
            class="text-blue bg-blue-2 px-5 py-2 rounded-2xl cursor-pointer"
            type="button">Sono registrato/a</button
        >
    </div>
    <div
        class="w-3/4 h-24 px-5 py-2 rounded-lg border border-green overflow-scroll"
    >
        <P id="userRegisteredText">
            Non sei ancora registrato. Per accedere ai nostri servizi, ti
            invitiamo a completare la registrazione. Una volta registrato,
            potrai prenotare appuntamenti online, accedere a risorse esclusive e
            ricevere aggiornamenti importanti. La registrazione è semplice e
            veloce. Se hai bisogno di assistenza durante il processo, il nostro
            team di supporto è a tua disposizione. Non perdere l'opportunità di
            usufruire di tutti i vantaggi offerti dalla nostra piattaforma.
            Registrati oggi stesso e inizia a esplorare tutto ciò che abbiamo da
            offrire. Grazie per il tuo interesse!
        </P>
    </div>
</section>

<script>
    // Text that appears when the user selects "Sono registrato/a" and "Non sono registrato/a"
    function changeUserRegistered(registered: boolean) {
        const userRegistered =
            "La tua registrazione è stata approvata con successo. Ora puoi accedere a tutti i servizi disponibili sul nostro sito. Grazie per esserti registrato! Se hai bisogno di assistenza, non esitare a contattarci. Siamo qui per aiutarti con qualsiasi domanda o problema tu possa avere. Inoltre, ti invitiamo a esplorare le nostre risorse online, dove troverai informazioni utili e aggiornamenti sui nostri servizi. Grazie ancora per la tua fiducia e benvenuto nella nostra comunità!";
        const userNotRegistered =
            "Non sei ancora registrato. Per accedere ai nostri servizi, ti invitiamo a completare la registrazione. Una volta registrato, potrai prenotare appuntamenti online, accedere a risorse esclusive e ricevere aggiornamenti importanti. La registrazione è semplice e veloce. Se hai bisogno di assistenza durante il processo, il nostro team di supporto è a tua disposizione. Non perdere l'opportunità di usufruire di tutti i vantaggi offerti dalla nostra piattaforma. Registrati oggi stesso e inizia a esplorare tutto ciò che abbiamo da offrire. Grazie per il tuo interesse!";

        const activeButtonStyle =
            "bg-green text-white px-5 py-2 rounded-2xl cursor-pointer";
        const inactiveButtonStyle =
            "bg-blue-2 text-blue px-5 py-2 rounded-2xl cursor-pointer";

        const p = document.getElementById(
            "userRegisteredText",
        ) as HTMLParagraphElement;
        const userRegisteredButton = document.getElementById(
            "userRegisteredButton",
        ) as HTMLButtonElement;
        const userNotRegisteredButton = document.getElementById(
            "userNotRegisteredButton",
        ) as HTMLButtonElement;

        if (registered) {
            p.textContent = userRegistered;
            userRegisteredButton.className = activeButtonStyle;
            userNotRegisteredButton.className = inactiveButtonStyle;
        } else {
            p.textContent = userNotRegistered;
            userRegisteredButton.className = inactiveButtonStyle;
            userNotRegisteredButton.className = activeButtonStyle;
        }
    }

    document
        .getElementById("userRegisteredButton")
        ?.addEventListener("click", () => {
            changeUserRegistered(true);
        });
    document
        .getElementById("userNotRegisteredButton")
        ?.addEventListener("click", () => {
            changeUserRegistered(false);
        });
</script>
