---
import Button from "../Button.astro";

import { Image } from "astro:assets";
import logo from "../../assets/logo.png";
---

<header>
    <div class="bg-green flex py-2 align-middle justify-center gap-11">
        <div class="flex gap-3.5 items-baseline">
            <i class="fas fa-phone text-white"></i>
            <a class="text-white font-semibold" href="tel:+3903315783369"
                >0331 578 3369</a
            >
        </div>
        <div class="flex gap-3.5 items-baseline">
            <i class="fas fa-map-marker-alt text-white"></i>
            <a
                class="text-white font-semibold"
                href="https://maps.app.goo.gl/3facDQu1PB8XQHCm6"
                >Corso Savona 14100 Asti</a
            >
        </div>
        <div class="flex gap-3.5 items-baseline">
            <i class="fas fa-envelope text-white"></i>
            <a
                class="text-white font-semibold"
                href="mailto:studiodusio137@gmail.com"
                >studiodusio137@gmail.com</a
            >
        </div>
    </div>

    <div class="flex py-2 items-center justify-around px-36">
        <a href="/studio-dusio">
            <Image src={logo} alt="Studio Dusio" width="192" height="64" />
        </a>

        <nav class="flex gap-10 items-center">
            <a
                class="text-blue font-bold text-lg hover:text-green"
                href="/studio-dusio/lo-studio">LO STUDIO</a
            >
            <a
                class="text-blue font-bold text-lg hover:text-green"
                href="/studio-dusio/servizi">SERVIZI</a
            >
            <a
                class="text-blue font-bold text-lg hover:text-green"
                href="/studio-dusio/avvisi">AVVISI</a
            >
            <a
                class="text-blue font-bold text-lg hover:text-green"
                href="/studio-dusio/contatti">CONTATTI</a
            >
            <Button href="https://www.cupmedico.it/" primary>PRENOTA</Button>
        </nav>
    </div>
</header>
