---
import H3 from "../Typography/H3.astro";
import NoticeCard from "../NoticeCard.astro";

const { class: className, ...rest } = Astro.props;
---

<section
    class:list={[
        "flex flex-col gap-4 px-4 py-8 md:py-12 md:px-36 items-center",
        className,
    ]}
    {...rest}
>
    <H3>Tutti gli avvisi</H3>
    <div class="flex gap-7">
        <button
            id="recentEventsButton"
            class="text-white bg-green px-5 py-2 rounded-2xl cursor-pointer"
            type="button">Avvisi recenti</button
        >
        <button
            id="pastEventsButton"
            class="text-blue bg-blue-2 px-5 py-2 rounded-2xl cursor-pointer"
            type="button">Avvisi precedenti</button
        >
    </div>
    <div id="recentNotices" class="grid md:grid-cols-3 gap-10">
        <NoticeCard
            title="Disponibilità Certificati Sportivi"
            date="07/12/2024"
            text="Sed sed diam ultricies neque malesuada vestibulum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer at sem felis. Integer eleifend, tellus varius scelerisque tincidunt, purus ex posuere leo, non auctor metus ex ut orci. Nullam vitae massa id dolor congue lacinia vitae sit amet enim. Praesent pulvinar sapien in leo semper, sed pharetra nulla faucibus. Quisque id rhoncus nibh."
        />
        <NoticeCard
            title="Vaccinazioni antinfluenzali"
            date="07/12/2024"
            text="Sed sed diam ultricies neque malesuada vestibulum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer at sem felis. Integer eleifend, tellus varius scelerisque tincidunt, purus ex posuere leo, non auctor metus ex ut orci. Nullam vitae massa id dolor congue lacinia vitae sit amet enim. Praesent pulvinar sapien in leo semper, sed pharetra nulla faucibus. Quisque id rhoncus nibh."
        />
        <NoticeCard
            title="Altra notifica"
            date="07/12/2024"
            text="Sed sed diam ultricies neque malesuada vestibulum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer at sem felis. Integer eleifend, tellus varius scelerisque tincidunt, purus ex posuere leo, non auctor metus ex ut orci. Nullam vitae massa id dolor congue lacinia vitae sit amet enim. Praesent pulvinar sapien in leo semper, sed pharetra nulla faucibus. Quisque id rhoncus nibh."
        />
    </div>
    <div id="pastNotices" class="grid md:grid-cols-3 gap-10 hidden">
        <NoticeCard
            title="Vecchia notifica 1"
            date="07/12/2024"
            text="Sed sed diam ultricies neque malesuada vestibulum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer at sem felis. Integer eleifend, tellus varius scelerisque tincidunt, purus ex posuere leo, non auctor metus ex ut orci. Nullam vitae massa id dolor congue lacinia vitae sit amet enim. Praesent pulvinar sapien in leo semper, sed pharetra nulla faucibus. Quisque id rhoncus nibh."
        />
        <NoticeCard
            title="Vecchio alert 2"
            date="07/12/2024"
            text="Sed sed diam ultricies neque malesuada vestibulum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer at sem felis. Integer eleifend, tellus varius scelerisque tincidunt, purus ex posuere leo, non auctor metus ex ut orci. Nullam vitae massa id dolor congue lacinia vitae sit amet enim. Praesent pulvinar sapien in leo semper, sed pharetra nulla faucibus. Quisque id rhoncus nibh."
        />
        <NoticeCard
            title="Test test test"
            date="07/12/2024"
            text="Sed sed diam ultricies neque malesuada vestibulum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer at sem felis. Integer eleifend, tellus varius scelerisque tincidunt, purus ex posuere leo, non auctor metus ex ut orci. Nullam vitae massa id dolor congue lacinia vitae sit amet enim. Praesent pulvinar sapien in leo semper, sed pharetra nulla faucibus. Quisque id rhoncus nibh."
        />
    </div>
</section>

<script>
    // Text that appears when the user selects "Sono registrato/a" and "Non sono registrato/a"
    function changeEvents(recent: boolean) {
        const activeButtonStyle =
            "bg-green text-white px-5 py-2 rounded-2xl cursor-pointer";
        const inactiveButtonStyle =
            "bg-blue-2 text-blue px-5 py-2 rounded-2xl cursor-pointer";

        const pastEventsButton = document.getElementById(
            "pastEventsButton",
        ) as HTMLButtonElement;
        const recentEventsButton = document.getElementById(
            "recentEventsButton",
        ) as HTMLButtonElement;
        const recentNotices = document.getElementById(
            "recentNotices",
        ) as HTMLDivElement;
        const pastNotices = document.getElementById(
            "pastNotices",
        ) as HTMLDivElement;

        if (recent) {
            pastEventsButton.className = activeButtonStyle;
            recentEventsButton.className = inactiveButtonStyle;
            recentNotices.classList.add("hidden");
            pastNotices.classList.remove("hidden");
        } else {
            pastEventsButton.className = inactiveButtonStyle;
            recentEventsButton.className = activeButtonStyle;
            recentNotices.classList.remove("hidden");
            pastNotices.classList.add("hidden");
        }
    }

    document
        .getElementById("pastEventsButton")
        ?.addEventListener("click", () => {
            changeEvents(true);
        });
    document
        .getElementById("recentEventsButton")
        ?.addEventListener("click", () => {
            changeEvents(false);
        });
</script>
