---
import H3 from "../Typography/H3.astro";
import P from "../Typography/P.astro";
import Button from "../Button.astro";
---

<section
    class="flex flex-col px-4 py-8 md:px-36 md:py-12 gap-5 md:gap-10 items-center"
>
    <H3>Dicono <span class="text-green">di noi</span></H3>
    <P class="text-center">
        Leggi cosa scrivono i pazienti della loro esperienza con i dottori dello
        Studio Medico G. Un gesto o una parola che ci <span class="font-bold"
            >rendono orgogliosi del nostro lavoro.</span
        >
    </P>
    <div class="flex flex-col md:flex-row gap-5 md:gap-10">
        <div class="flex flex-col gap-2 p-5 bg-gray rounded-2xl items-center">
            <P
                >Leggi cosa scrivono i pazienti della loro esperienza con i
                dottori dello Studio Medico G. Un gesto o una parola che ci
                rendono orgogliosi del nostro lavoro.</P
            >
            <p class="text-blue-3 text-lg">Isabella F</p>
        </div>
        <div class="flex flex-col gap-2 p-5 bg-gray rounded-2xl items-center">
            <P
                >Leggi cosa scrivono i pazienti della loro esperienza con i
                dottori dello Studio Medico G. Un gesto o una parola che ci
                rendono orgogliosi del nostro lavoro.</P
            >
            <p class="text-blue-3 text-lg">Isabella F</p>
        </div>
        <div class="flex flex-col gap-2 p-5 bg-gray rounded-2xl items-center">
            <P
                >Leggi cosa scrivono i pazienti della loro esperienza con i
                dottori dello Studio Medico G. Un gesto o una parola che ci
                rendono orgogliosi del nostro lavoro.</P
            >
            <p class="text-blue-3 text-lg">Isabella F</p>
        </div>
    </div>
    <Button href="#" primary>SCRIVI UNA RECENSIONE</Button>
</section>
