---
import "@fontsource-variable/open-sans";
import "@fortawesome/fontawesome-free/css/all.min.css";
import "../styles/global.css";

import Header from "../components/Sections/Header.astro";
import Footer from "../components/Sections/Footer.astro";
---

<!doctype html>
<html lang="it">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Studio Dusio</title>
	</head>
	<body>
		<Header />
		<main class="mt-[67px] lg:mt-[120px]">
			<slot />
		</main>
		<Footer />
	</body>
</html>
