---
import H3 from "../Typography/H3.astro";
import P from "../Typography/P.astro";

import { Image } from "astro:assets";
import ordineProvincialeImage from "../../assets/certifications/ordine-provinciale.png";
import regionePiemonteImage from "../../assets/certifications/regione-piemonte.png";
---

<section
    class="flex flex-col gap-7 justify-center items-center py-8 px-4 md:py-12 md:px-36"
>
    <H3>Certificazioni</H3>
    <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet</P>
    <div
        class="flex flex-col md:flex-row gap-8 md:gap-36 justify-center items-center"
    >
        <Image
            class="md:w-1/3 h-fit"
            src={ordineProvincialeImage}
            alt="Ordine Provinciale"
        />
        <Image
            class="md:w-1/4 h-fit"
            src={regionePiemonteImage}
            alt="Regione Piemonte"
        />
    </div>
</section>
