---
import H4 from "../Typography/H4.astro";
import H3 from "../Typography/H3.astro";
import P from "../Typography/P.astro";
import Icon from "../Typography/Icon.astro";

import { Image } from "astro:assets";
import illustration4 from "../../assets/illustrations/4.png";

const { class: className, ...rest } = Astro.props;
---

<section
    class:list={[
        "flex flex-col px-4 py-8 xl:px-36 md:px-18 md:py-12 gap-8 md:gap-12 items-center",
        className,
    ]}
    {...rest}
>
    <div class="flex flex-col gap-5 self-start">
        <H4 icon="fa-circle-info">Contatti</H4>
        <H3>Le informazioni di cui <span class="text-green">hai bisogno</span></H3>
    </div>
    <div class="grid md:grid-cols-2 xl:grid-cols-3 w-full gap-5">
        <div class="flex flex-col gap-4 bg-blue-2 p-5 rounded-lg">
            <div class="flex gap-4 items-center">
                <Icon class="text-lg" icon="fa-phone" />
                <a class="text-blue font-bold text-lg md: md:text-xl" href="tel:+390141351232">
                    +39 014 135 1232
                </a>
            </div>
            <P>
                Per prenotare <span class="font-bold">visite ambulatoriali</span
                >, per richiesta <span class="font-bold">ricette</span> urgenti e
                per <span class="font-bold">consigli</span> telefonici
            </P>
        </div>
        <div class="flex flex-col gap-4 bg-blue-2 p-5 rounded-lg">
            <div class="flex gap-4 items-center">
                <Icon class="text-lg" icon="fa-phone" />
                <a class="text-blue font-bold text-lg md:text-xl" href="tel:+39360443191">
                    +39 360 443 191
                </a>
            </div>
            <P>
                Per richiedere <span class="font-bold">visite domiciliari</span>
            </P>
        </div>
        <div class="flex flex-col gap-4 bg-blue-2 p-5 rounded-lg">
            <div class="flex gap-4 items-center">
                <Icon class="text-lg" icon="fa-globe" />
                <a
                    class="text-blue font-bold text-lg md:text-xl"
                    href="https://cupmedico.it"
                >
                    Cupmedico.it
                </a>
            </div>
            <P>
                Per prenotare <span class="font-bold">visite ambulatoriali</span
                >
            </P>
        </div>
    </div>
    <Image class="max-h-60 w-fit" src={illustration4} alt="Illustrazione 4" />
</section>
