---
import H4 from "../Typography/H4.astro";
import H3 from "../Typography/H3.astro";
import P from "../Typography/P.astro";
import Icon from "../Typography/Icon.astro";

import { Image } from "astro:assets";
import illustration4 from "../../assets/illustrations/4.png";

const { class: className, ...rest } = Astro.props;
---

<section
    class:list={[
        "flex flex-col px-4 py-8 md:px-36 md:py-12 gap-8 md:gap-12 items-center",
        className,
    ]}
    {...rest}
>
    <div class="flex flex-col gap-5 self-start">
        <H4>Contatti</H4>
        <H3>Lorem ipsum dolor <strong class="text-green">sit amet</strong></H3>
    </div>
    <div class="flex flex-col md:flex-row w-full gap-5">
        <div class="flex flex-col gap-4 bg-blue-2 p-5 rounded-lg md:w-1/3">
            <div class="flex gap-4 items-center">
                <Icon class="text-lg" icon="fa-phone" />
                <a class="text-blue font-bold text-lg" href="tel:+390141351232">
                    +39 014 135 1232
                </a>
            </div>
            <P>
                Per prenotare <strong class="font-bold">visite ambulatoriali</strong
                >, per richiesta <strong class="font-bold">ricette</strong> urgenti e
                per <strong class="font-bold">consigli</strong> telefonici
            </P>
        </div>
        <div class="flex flex-col gap-4 bg-blue-2 p-5 rounded-lg md:w-1/3">
            <div class="flex gap-4 items-center">
                <Icon class="text-lg" icon="fa-phone" />
                <a class="text-blue font-bold text-lg" href="tel:+39360443191">
                    +39 360 443 191
                </a>
            </div>
            <P>
                Per prenotare <strong class="font-bold">visite domiciliari</strong>
            </P>
        </div>
        <div class="flex flex-col gap-4 bg-blue-2 p-5 rounded-lg md:w-1/3">
            <div class="flex gap-4 items-center">
                <Icon class="text-lg" icon="fa-phone" />
                <a
                    class="text-blue font-bold text-lg"
                    href="mailto:studiodusio137@gmail.com"
                >
                    studiodusio137@gmail.com
                </a>
            </div>
            <P>
                Per richiesta <strong class="font-bold">ricette non urgenti</strong>
            </P>
        </div>
    </div>
    <Image class="max-h-60 w-fit" src={illustration4} alt="Illustrazione 4" />
</section>
