---
import { Image } from "astro:assets";
import illustration5 from "../../assets/illustrations/5.png";
---

<footer
    class="flex flex-col md:flex-row md:gap-0 gap-6 px-4 xl:px-36 md:px-18 py-5 bg-blue justify-between"
>
    <div class="flex flex-col md:flex-row gap-7">
        <Image
            class="md:w-[183px] md:h-[89px] hidden md:block"
            src={illustration5}
            alt="Illustration 5"
        />
        <div class="flex flex-col gap-2">
            <h5 class="text-white text-xl md:text-2xl font-display">
                STUDIO MEDICO DUSIO
            </h5>
            <p class="text-white text-sm md:text-base">
                Dott. Ferruccio Dusio<br />
                Medico di Medicina Generale<br />
                PI 02180410801 - OdM CO 6360 - Cod. Reg. 50635C
            </p>
            <p class="text-white text-sm">
                Tutti i diritti riservati - Privacy Policy - Cookie Policy
            </p>
        </div>
    </div>
    <div class="flex flex-col gap-3.5">
        <h5 class="text-white text-xl md:text-2xl font-bold">LINK RAPIDI</h5>
        <div class="flex gap-3.5">
            <a class="text-white md:text-lg" href="/studio-dusio/contatti"
                >CONTATTI</a
            >
            <a class="text-white md:text-lg" href="#">PRENOTAZIONI</a>
        </div>
        <div class="flex gap-3.5">
            <a class="text-white md:text-lg" href="/studio-dusio/servizi"
                >SERVIZI</a
            >
            <a class="text-white md:text-lg" href="/studio-dusio/avvisi"
                >AVVISI</a
            >
        </div>
    </div>
</footer>
