---
import Button from "../Button.astro";

import { Image } from "astro:assets";
import logo from "../../assets/logo.png";

const currentPath = Astro.url.pathname;
---

<header class="sticky top-0 bg-white z-20">
    <div
        id="topBar"
        class="bg-green py-2 align-middle justify-center gap-11 hidden md:flex"
    >
        <div class="flex gap-3.5 items-baseline">
            <i class="fas fa-phone text-white"></i>
            <a
                class="text-white hover:text-blue font-semibold"
                href="tel:+3903315783369">0331 578 3369</a
            >
        </div>
        <div class="flex gap-3.5 items-baseline">
            <i class="fas fa-map-marker-alt text-white"></i>
            <a
                class="text-white hover:text-blue font-semibold"
                href="https://maps.app.goo.gl/3facDQu1PB8XQHCm6"
                >Corso Savona 14100 Asti</a
            >
        </div>
        <div class="flex gap-3.5 items-baseline">
            <i class="fas fa-envelope text-white"></i>
            <a
                class="text-white hover:text-blue font-semibold"
                href="mailto:studiodusio137@gmail.com"
                >studiodusio137@gmail.com</a
            >
        </div>
    </div>

    <div
        class="flex flex-col md:flex-row gap-8 md:gap-0 items-center md:justify-around py-2 px-5 md:px-36"
    >
        <div class="flex flex-row justify-between w-full md:w-auto">
            <a href="/studio-dusio">
                <Image
                    class="md:w-[192px] md:h-[64px] w-[154px] h-[51px]"
                    src={logo}
                    alt="Studio Dusio"
                />
            </a>

            <button id="nav-toggle" type="button" class="md:hidden">
                <i class="fas fa-bars text-blue text-2xl"></i>
            </button>
        </div>

        <nav
            class="top-[67px] absolute md:static py-2 md:py-0 bg-white flex-col md:flex-row gap-8 md:gap-10 items-center hidden md:flex w-full md:w-auto"
        >
            <a
                class:list={[
                    "text-blue font-bold text-lg hover:text-green",
                    { "text-green": currentPath === "/studio-dusio/lo-studio" },
                ]}
                href="/studio-dusio/lo-studio">LO STUDIO</a
            >
            <a
                class:list={[
                    "text-blue font-bold text-lg hover:text-green",
                    { "text-green": currentPath === "/studio-dusio/servizi" },
                ]}
                href="/studio-dusio/servizi">SERVIZI</a
            >
            <a
                class:list={[
                    "text-blue font-bold text-lg hover:text-green",
                    { "text-green": currentPath === "/studio-dusio/avvisi" },
                ]}
                href="/studio-dusio/avvisi">AVVISI</a
            >
            <a
                class:list={[
                    "text-blue font-bold text-lg hover:text-green",
                    { "text-green": currentPath === "/studio-dusio/contatti" },
                ]}
                href="/studio-dusio/contatti">CONTATTI</a
            >
            <Button href="https://www.cupmedico.it/" primary>PRENOTA</Button>
        </nav>
    </div>
</header>

<script>
    document.getElementById("nav-toggle")?.addEventListener("click", () => {
        document.querySelector("nav")?.classList.toggle("hidden");
        document.querySelector("nav")?.classList.toggle("flex");
    });

    const topDiv = document.getElementById("topBar");

    window.onscroll = () => {
        if (window.scrollY > 0) {
            topDiv.style.display = "none";
        } else {
            // Only show topbar on desktop screens
            if (window.innerWidth >= 1000) {
                topDiv.style.display = "flex";
            }
        }
    };
</script>
