---
import P from "../Typography/P.astro";
import Button from "../Button.astro";

import { Image } from "astro:assets";
import heroImage from "../../assets/hero.webp";
---

<section class="relative">
    <Image
        class="h-[60vh] md:h-[80vh] object-cover brightness-75"
        src={heroImage}
        alt="Lo Studio"
    />

    <!-- Overlay -->
    <div
        class="absolute inset-0 bg-gradient-to-b from-transparent to-[rgba(21,66,124,0.59)] to-60% z-0"
    >
    </div>

    <div
        class="flex flex-col gap-4 md:gap-6 absolute top-1/2 -translate-y-1/2 md:bottom-28 md:px-36 px-4"
    >
        <div class="flex gap-5 items-center">
            <i class="fas fa-stethoscope text-white text-xl md:text-3xl"></i>
            <h1 class="text-white text-xl md:text-3xl font-display">
                Studio Medico Dusio
            </h1>
        </div>
        <h2 class="text-white text-4xl md:text-6xl font-bold font-display">
            La <span class="text-hero">tua salute</span> al centro<br />
            delle <span class="text-hero">nostre cure</span>
        </h2>
        <P class="text-white">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
            Cras molestie ante varius enim tristique aliquet. Aliquam erat volutpat.
        </P>
        <Button href="/studio-dusio/lo-studio">
            SCOPRI DI PIÙ
            <i class="fas fa-chevron-right font-bold"></i>
        </Button>
    </div>
</section>
