---
import H4 from "../Typography/H4.astro";
import H3 from "../Typography/H3.astro";
import ServiceCard from "../ServiceCard.astro";

import { Image } from "astro:assets";
import illustration10 from "../../assets/illustrations/10.png";
---

<section
    class="flex flex-col px-4 py-8 xl:px-36 lg:px-18 md:px-9 md:py-12 gap-2 items-center relative"
>
    <H3>I <span class="text-green">servizi</span> dello studio</H3>
    <div class="flex flex-col gap-4 lg:gap-10 mt-8 max-w-5xl w-full">
        <div
            class="flex flex-col lg:flex-row flex-wrap justify-evenly lg:justify-between gap-4"
        >
            <ServiceCard href="/servizi/visite-ambulatoriali"
                >Visite ambulatoriali</ServiceCard
            >
            <ServiceCard href="/servizi/visite-domiciliari"
                >Visite domiciliari</ServiceCard
            >
            <ServiceCard href="/servizi/ricette">Ricette</ServiceCard>
            <ServiceCard href="/servizi/certificati">Certificati</ServiceCard>
        </div>
        <div
            class="flex flex-col lg:flex-row flex-wrap justify-evenly lg:justify-between gap-4"
        >
            <ServiceCard href="/servizi/vaccinazioni">Vaccinazioni</ServiceCard>
            <ServiceCard href="/servizi/attivita-infermieristiche"
                >Attività infermieristica</ServiceCard
            >
            <ServiceCard href="/servizi/terapie-cefalee"
                >Terapia delle Cefalee</ServiceCard
            >
        </div>
        <div
            class="flex flex-col lg:flex-row flex-wrap justify-evenly lg:justify-between gap-4"
        >
            <ServiceCard href="/servizi/spirometrie">Spirometria</ServiceCard>
            <ServiceCard href="/servizi/medicina-di-gruppo"
                >Medicina di Gruppo</ServiceCard
            >
            <ServiceCard href="/servizi/tutor-medicina-generale"
                >Tutor scuola di Medicina Generale</ServiceCard
            >
        </div>
        <div
            class="flex flex-col lg:flex-row flex-wrap justify-evenly lg:justify-between gap-4"
        >
            <ServiceCard href="/servizi/medico-sentinella"
                >Medico Sentinella Influenza</ServiceCard
            >
        </div>
    </div>
    <Image
        src={illustration10}
        alt="Illustrazione 10"
        class="absolute bottom-0 left-4 opacity-10"
        width="269"
    />
    <Image
        src={illustration10}
        alt="Illustrazione 10"
        class="absolute bottom-0 right-4 opacity-10 hidden md:block"
        width="269"
    />
</section>
