<header>
    <div class="bg-green flex py-2 align-middle justify-center gap-11">
        <div class="flex gap-3.5 items-baseline">
            <i class="fas fa-phone text-white"></i>
            <a class="text-white font-semibold" href="tel:+3903315783369"
                >0331 578 3369</a
            >
        </div>
        <div class="flex gap-3.5 items-baseline">
            <i class="fas fa-map-marker-alt text-white"></i>
            <a
                class="text-white font-semibold"
                href="https://maps.app.goo.gl/3facDQu1PB8XQHCm6"
                >Corso Savona 14100 Asti</a
            >
        </div>
        <div class="flex gap-3.5 items-baseline">
            <i class="fas fa-envelope text-white"></i>
            <a
                class="text-white font-semibold"
                href="mailto:studiodusio137@gmail.com"
                >studiodusio137@gmail.com</a
            >
        </div>
    </div>
    <div></div>
</header>
