---
import Button from "./Button.astro";

const { title, date } = Astro.props;
---

<div class="flex flex-col gap-4 bg-green rounded-lg py-5 items-center">
    <h5 class="text-3xl text-white font-bold text-center">{title}</h5>
    <p class="text-white font-bold">Scritto il {date}</p>
    <p class="text-white font-bold text-center">
        <slot />
    </p>
    <Button href="#">
        Leggi tutto
        <i class="fas fa-arrow-right"></i>
    </Button>
</div>
