---
import Layout from "../layouts/Layout.astro";

import PageTitle from "../components/PageTitle.astro";
import H3 from "../components/Typography/H3.astro";
import H4 from "../components/Typography/H4.astro";
import P from "../components/Typography/P.astro";
import Icon from "../components/Typography/Icon.astro";
import Contacts from "../components/Sections/Contacts.astro";
import Hours from "../components/Sections/Hours.astro";
import FAQ from "../components/Sections/FAQ.astro";
---

<Layout>
    <PageTitle
        breadcrumbs="HOME - CONTATTI"
        title="Tutte le informazioni di contatto"
    >
        Siamo qui per rispondere alle tue domande e fissare il tuo appuntamento.
    </PageTitle>
    <Contacts />
    <Hours />
    <section class="px-4 py-8 md:px-36 md:py-12 flex flex-col gap-5">
        <H4>Dove siamo</H4>
        <H3
            >Informazioni ipsum dolor <span class="text-green">sit amet</span
            ></H3
        >
        <div class="flex flex-col gap-6 md:gap-12 mt-2 md:mt-11">
            <div class="flex gap-4 items-center">
                <Icon class="text-xl" icon="fa-map" />
                <P class="font-bold">Siamo in Corso Savona 14100 Asti</P>
            </div>
            <div class="flex gap-4 items-center">
                <Icon class="text-xl" icon="fa-bus" />
                <P class="font-bold"
                    >Facilmente raggiungibili sia in auto che con autobus e tram
                    (n°)</P
                >
            </div>
            <div class="flex gap-4 items-center">
                <Icon class="text-xl" icon="fa-parking" />
                <P class="font-bold">Parcheggi vicino a ...</P>
            </div>
            <div class="flex gap-4 items-center">
                <Icon class="text-xl" icon="fa-wheelchair" />
                <P class="font-bold">
                    Per l’accesso ai diversamente abili il personale del Centro
                    mette a disposizione un montascale per i gradini che portano
                    allo studio medico
                </P>
            </div>
        </div>
    </section>
    <section>
        <iframe
            class="w-full h-96"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2826.849291439965!2d8.209471776605636!3d44.88571587184927!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478792e41fb92e57%3A0xfeb61a3594dea9af!2sCorso%20Savona%2C%2014100%20Asti%20AT!5e0!3m2!1sen!2sit!4v1739830160030!5m2!1sen!2sit"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
        >
        </iframe>
    </section>
    <FAQ />
</Layout>
