---
import Layout from "../layouts/Layout.astro";

import Hero from "../components/Sections/Hero.astro";
import P from "../components/Typography/P.astro";
import Icon from "../components/Typography/Icon.astro";
import H3 from "../components/Typography/H3.astro";
import H4 from "../components/Typography/H4.astro";
import Button from "../components/Button.astro";
import FAQ from "../components/Sections/FAQ.astro";
import BookingInfo from "../components/Sections/BookingInfo.astro";
import Certifications from "../components/Sections/Certifications.astro";
import Contacts from "../components/Sections/Contacts.astro";
import Hours from "../components/Sections/Hours.astro";
import Reviews from "../components/Sections/Reviews.astro";
import Services from "../components/Sections/Services.astro";

import { Image } from "astro:assets";
import illustration1 from "../assets/illustrations/1.png";
import illustration2 from "../assets/illustrations/2.png";
import illustration3 from "../assets/illustrations/3.png";
---

<Layout>
    <Hero />
    <section
        class="flex flex-col md:flex-row px-4 xl:px-36 lg:px-18 md:px-9 py-8 md:py-12 gap-2 bg-blue items-center"
    >
        <div class="flex flex-col gap-2">
            <Icon class="text-2xl md:text-3xl text-white" icon="fa-heart" />
            <H3 class="text-white">Ascolto e Attenzione</H3>
            <P class="text-white">
                Ci prendiamo cura di ogni paziente come di una persona unica,
                con ascolto e attenzione dedicata.
            </P>
        </div>
        <div class="flex flex-col gap-2">
            <Icon
                class="text-2xl md:text-3xl text-white"
                icon="fa-comment-medical"
            />
            <H3 class="text-white">Fiducia e Esperienza</H3>
            <P class="text-white">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                dictum, ipsum laoreet
            </P>
        </div>
    </section>
    <section
        class="flex flex-col md:flex-row px-4 py-8 xl:px-36 lg:px-18 md:px-9 md:py-12 gap-10 md:gap-20 bg-blue-2 items-center"
    >
        <div class="flex flex-col gap-4">
            <H4>Percorso professionale</H4>
            <H3>
                Lorem ipsum <span class="text-green">dolor</span>
            </H3>
            <P>
                Mi sono laureato e abilitato nel <strong>1988</strong>. Dopo
                aver iniziato come
                <strong>medico di guardia</strong> nel <strong>1990</strong>,
                sono diventato <strong>Medico di Medicina Generale</strong> nel 1994.
            </P>
            <P>
                Ho conseguito anche un diploma in diagnosi e terapia delle
                <strong>cefalee</strong>, e ho lavorato in <strong
                    >Geriatria</strong
                > all’Ospedale di Asti.
            </P>
        </div>
        <Image
            class="max-h-96 w-auto md:max-w-1/2 lg:max-w-1/2"
            src={illustration1}
            alt="Illustrazione 1"
        />
    </section>
    <section
        class="flex flex-col-reverse md:flex-row px-4 py-8 xl:px-36 lg:px-18 md:px-9 md:py-12 gap-0 md:gap-20 bg-blue-2 items-center"
    >
        <Image
            class="max-h-96 w-auto md:max-w-2/5 lg:max-w-1/2"
            src={illustration2}
            alt="Illustrazione 2"
        />
        <div class="flex flex-col gap-4">
            <H4>La mia filosofia</H4>
            <H3>
                Curare il <span class="text-green">malato</span> e non la <span
                    class="text-green">malattia</span
                >
            </H3>
            <P>
                Considero l’attività di cura simile al “ confezionamento
                sartoriale di un abito su misura”. Etiam laoreet leo in pharetra
                rhoncus. Quisque dui nulla, scelerisque non gravida eleifend,
                cursus quis nisl.
            </P>
            <Button href="https://cupmedico.it" primary>
                PRENOTA UNA VISITA
                <i class="fas fa-chevron-right font-bold"></i>
            </Button>
        </div>
    </section>
    <Services />
    <section
        class="flex flex-col md:flex-row px-4 py-8 xl:px-36 lg:px-18 md:px-9 md:py-12 gap-8 bg-blue-2 items-center justify-between"
    >
        <div class="flex flex-col gap-4">
            <H4>Ultimi avvisi</H4>
            <H3>Lorem ipsum dolor <span class="text-green">sit amet</span></H3>
            <P>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit
                amet condimentum ante, Lorem ipsum dolor sit amet...
            </P>
            <Button href="/avvisi" primary>
                LEGGI TUTTO
                <i class="fas fa-chevron-right font-bold"></i>
            </Button>
        </div>
        <Image
            class="max-h-60 w-auto"
            src={illustration3}
            alt="Illustrazione 3"
        />
    </section>
    <FAQ />
    <BookingInfo />
    <Certifications />
    <Contacts class="bg-blue-2" />
    <Hours />
    <Reviews />
</Layout>
